<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Loja82.Infra.Linq.Properties.Settings.LojaConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Loja;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>